<nav>
    <ul>
        <li><a href="/redirect?action=first">←First</a></li>
        
        <li><a href="/">Index</a></li>
        <li><a href="/join">Join</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/about">About</a></li>

        <li><a href="/redirect?action=last">Last→</a></li>
    </ul>
</nav>
